.vm-scroller-wrapper {
	position: relative;
	overflow: hidden;
}

.vm-scroller {
	height: 100%;
	overflow-y: scroll;
}

.vm-scroller::-webkit-scrollbar {
	width: 0;
}

.vm-scroller-bar {
	position: absolute;
	z-index: 1;
	right: 0;
	width: 10px;
	background: #999;
}

.vm-scroller-container {
	overflow: hidden;
}